.CartButtonHeart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 6px;
  background: none;
  transition: all 0.3s ease-in-out;
  fill: var(--greyTextUnhighlighted);
}

.CartButtonHeart:hover,
.CartButtonHeart:focus {
  background: rgb(254, 247, 241);
  fill: var(--brigthRed);
}

.RoundedButtonHeart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(225, 225, 225);
  outline: none;
  border-radius: 50%;
  background: none;
  transition: all 0.3s ease-in-out;
  fill: rgb(193, 193, 193);
  width: 40px;
  height: 40px;
  justify-self: flex-end;
  transition: all 0.3s ease-in-out;
}

.RoundedButtonHeart:hover,
.RoundedButtonHeart:hover {
  fill: var(--greyFont);
  border: 1px solid var(--greyFont);
}

@media screen and (max-width: 520px) {
  .RoundedButtonHeart {
    display: none;
  }
}

