.CartButtonBuy {
  cursor: pointer;
  border: 1px solid var(--brightOrange);
  background: white;
  color: var(--greyTextUnhighlighted);
  fill: var(--greyTextUnhighlighted);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.CartButtonBuy span {
  font-size: 18px;
}

.CartButtonBuy:hover,
.CartButtonBuy:focus {
  background: var(--brightOrange);
  color: white;
  fill: white;
}

@media screen and (max-width: 520px) {
  .CartButtonBuy {
    gap: 10px;
    border-radius: 5px;
  }

  .CartButtonBuy span {
    font-size: 14px;
  }
}


@media screen and (max-width: 470px) {
  .CartButtonBuy {
    gap: 8px;
    border-radius: 5px;
  }

  .CartButtonBuy span {
    font-size: 12px;
  }
}

@media screen and (max-width: 385px) {
  .CartButtonBuy span {
    display: none;
  }
}